@model ABC_Leave_Portal.Models.LeaveEntry

@{
    ViewBag.Title = "CreateLeave";
}

<h2>CreateLeave</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LeaveEntry</h4>
        <hr />
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.EmployeeCode, "EmployeeCode", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeCode", String.Empty)
                @Html.ValidationMessageFor(model => model.EmployeeCode)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.LeaveTypeId, "LeaveTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LeaveTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.LeaveTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestedDate)
                @Html.ValidationMessageFor(model => model.RequestedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CheckByName, "CheckByName", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CheckByName", String.Empty)
                @Html.ValidationMessageFor(model => model.CheckByName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CheckDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckDate)
                @Html.ValidationMessageFor(model => model.CheckDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CommentsEmployee, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CommentsEmployee)
                @Html.ValidationMessageFor(model => model.CommentsEmployee)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CommentsApprover, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CommentsApprover)
                @Html.ValidationMessageFor(model => model.CommentsApprover)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AutoNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AutoNumber)
                @Html.ValidationMessageFor(model => model.AutoNumber)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
